@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  color-scheme: dark;
  --swiper-theme-color: rgb(220 38 38);
}
html {
  color-scheme: dark;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  min-width: 398px;
  overflow-y: scroll;
}
button {
  line-height: normal;
}
button,
input,
textarea,
select,
a,
img {
  user-select: none;
}
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid #80808022;
  outline-offset: 2px;
}
/* utilidades */
.webkit-line-clamp-1,
.webkit-line-clamp-2,
.webkit-line-clamp-3,
.webkit-line-clamp-4,
.webkit-line-clamp-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.webkit-line-clamp-1 {
  -webkit-line-clamp: 1;
}
.webkit-line-clamp-2 {
  -webkit-line-clamp: 2;
}
.webkit-line-clamp-3 {
  -webkit-line-clamp: 3;
}
.webkit-line-clamp-4 {
  -webkit-line-clamp: 4;
}
.webkit-line-clamp-5 {
  -webkit-line-clamp: 5;
}
/* animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* utilities */
.container-2 {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}

/* storie */
.scroll-view-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-view-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.storie:hover .storie__imagen {
  transform: scale(1.05);
}

.storie:hover .storie__overlay {
  opacity: 0.65;
}
/* DIVIDER */
.divider {
  width: 100%;
  height: 1px;
  max-width: 1200px;
  background-image: linear-gradient(90deg, rgba(71, 71, 65, 0), #474741 50%, rgba(71, 71, 65, 0));
  margin-left: auto;
  margin-right: auto;
}
/* medium-grid-cols-1 */
@media (max-width: 450px) {
  .medium-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
/*  */
.linear-gradient {
  background-image: linear-gradient(114.41deg, #0ae448 20.74%, #abff84 65.5%);
}
/* fadeInReactions */
@keyframes fadeInReactions {
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(500px);
  }
  100% {
    max-width: 500px;
    display: flex;
  }
}

/* fadeOutReactions */
@keyframes fadeOutReactions {
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateX(500px);
  }
  from {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  100% {
    width: 0;
    max-width: 0;
  }
}

/* search__suggestions */
.search__suggestions {
  max-height: calc(100vh - 86px);
}
@media (min-width: 768px) {
  .search__suggestions {
    max-height: calc(100vh - 86px);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* SWIPPER */
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 14px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 14px));
  background: var(--swiper-pagination-bullet-inactive-color, var(--swiper-theme-color)) !important;
}
/* HOVER LABEL POSITION */
.contenedor-input {
  position: relative;
}

.label-input.active,
.contenedor-input .input-focus:focus + .label-input,
.contenedor-input .input-focus:focus-within + .label-input,
.contenedor-input .input-focus:placeholder-shown + .label-input,
.contenedor-input .input-focus:focus-visible + .label-input {
  top: 0;
  color: #f2f2f2;
  font-size: 14px;
}

/* DROP ZONE CONFIG */
body .files-ui-dropzone-children-container label {
  font-size: 16px;
  padding: 10px;
}
/* SWAL CONFIG */
body.swal2-shown.swal2-height-auto {
  overflow: hidden !important;
}
body div:where(.swal2-container) div:where(.swal2-popup).max-popup-width-2xl {
  width: 100% !important;
  max-width: 800px !important;
}
body div:where(.swal2-container) div:where(.swal2-popup).popup-image {
  width: fit-content !important;
  max-width: fit-content !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  background: transparent !important;
}
body div:where(.swal2-container) div:where(.swal2-popup),
body .swal2-popup {
  font-size: 16px;
  background: #181818;
  border: 1px solid #252525;
  color: #e6e6e6;
}
body .swal2-image {
  margin-left: auto;
  margin-right: auto;
}
body div:where(.swal2-container) .swal2-html-container {
  line-height: 1.4;
}

/* MAPBOX */
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none !important;
}
